extends ../layout/index
block contenido
    section.container.mb-5#post-page
        .row.mt-2
            .col-sm
                nav(aria-label="breadcrumb")
                    ol.breadcrumb.bg-transparent
                        li.breadcrumb-item #[a(href="/" target="_self" nofollow) Inicio]
                        li.breadcrumb-item(aria-current="page") Post
        .row
            main.col-sm-8.p-0
                .col-sm-12.bg-blanco.p-0
                    .img-post
                        img(src=`${post.img_url}`, alt=`${post.titulo}`)
                    article#post-html(itemtype="https://schema.org/CreativeWork")
                        header.mb-3
                            h2=post.subtitulo
                            blockquote.mb-0.blockquote-footer.text-left Por: #{post._user.nombre}
                            p.meta-cabecera Actualizado el 
                                time(datetime=post.fecha_entrada)=post.fecha_entrada
                            .contenido-post#post
                                p.d-none=post.html
                .row
                    .col-12
                        if usuario
                            if usuario.role === 'admin'
                                .post-admin#botonera 
                                    span#editar-post(title="Editar Post") #[a(href=`/post/${id}/edit`) ✏️ Editar ]
                                    span#eliminar-post(title="Eliminar Post") #[a#aeliminar(href=`${id}`) 🚽 Eliminar ]


            aside.col-sm-4.publicidad(role="contentInfo")
                .col-sm-12.post-social
                    section.mb-4.publicidad.post-img
                        h3 Publicidad
                        img(src="/img/bannerCuadrado.png", alt="Tu banner publicitario aquí")
                    section.mb-2
                        h3 Enlances de Interés
                        ul.list-group.list-group-flush
                            li.list-group-item #[a(href="https://www.ayuntamientodeifontes.es/" target="_blank" nofollow) Ayuntamiento]
                                i.fas.fa-home.fa-lg.float-left
                            li.list-group-item #[a(href="https://www.youtube.com/channel/UCxg2k1o9DwO5vqkuT1AYEcQ" target="_blank" nofollow) Deifosport]
                                i.fab.fa-youtube.fa-lg.text-danger.float-left
                            li.list-group-item #[a(href="https://www.granadahoy.com/" target="_blank" nofollow) Períodico Granada hoy]
                                i.far.fa-newspaper.fa-lg.float-left
                            li.list-group-item #[a(href="https://www.ideal.es/temas/lugares/deifontes.html" target="_blank" nofollow) Deifontes en el Ideal]
                                i.far.fa-newspaper.fa-lg.float-left
                    section.mb-2
                        h3 Comparte en las redes sociales
                        #share-btns
                            #fb-root
                            script(async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0&appId=235554917737172&autoLogAppEvents=1")
                            span.fb-share-button(data-href=url, data-layout='button_count', data-size='large') 
                                a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse') Compartir
                            a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-hashtags="deifontes" data-lang="es" data-show-count="false")
                            script(async defer src="https://platform.twitter.com/widgets.js" charset="utf-8" crossorigin)
        .row.my-2
            .col-sm-12.text-center.publicidad
                img(src="../img/bannerPost.png", alt="")