extends ../layout/index
block contenido
    include ../layout/partials/bannerPublicidad 
    main.container.mt-3.mb-5
        .row
            .col-sm-12.col-md-8.col-lg-9(role="feed")
                .row
                    if (filtro)
                        .col
                            h3 Mostrando resultados de #[span=filtro]
                    .col.ml-auto#fecha
                        span Deifontes, #{fechaActual}
                .row
                    each primera in entradas.splice(0,1)
                        .col-sm-12.col-md-12.p-2.mb-3.noticias(role="article")
                                .card.shadow
                                    a(href=`post/${primera.id}?titulo=${primera.titulo}`)
                                        h2.card-header=primera.titulo
                                        img(src=`${primera.img_url}`, class="card-img-top noticias-top", loading="lazy")
                                    .card-body#post-html
                                        h5.my-2.card-subtitle=primera.subtitulo
                                        p.card-text#post=primera.html.substr(0,200)
                                            |  . . .
                                    blockquote.mb-0.p-1.blockquote-footer #{primera.fecha_entrada} . Por: #{primera._user.nombre}
                .row
                    .col-12
                        h3 No te pierdas estas noticias
                .row
                    each entrada in entradas
                        .col-sm-12.col-md-12.col-lg-6.p-2.mb-3.noticias(role="article")
                            .card.shadow
                                a(href=`post/${entrada.id}?titulo=${entrada.titulo}`)
                                    img(src=`${entrada.img_url}`, class="card-img-top", loading="lazy")
                                    h2.card-header=entrada.titulo
                                .card-body#post-html
                                    h5.my-2.card-subtitle=entrada.subtitulo
                                    p.card-text#post=entrada.html.substr(0,150)
                                        |  . . .
                                blockquote.mb-0.p-1.blockquote-footer #{entrada.fecha_entrada} . Por: #{entrada._user.nombre}

            aside.col-sm-12.col-md-4.col-lg-3
                .publicidad(role="contentinfo")
                    h3 Publicidad
                    img(src="/img/bannerCuadrado.webp", alt="Tu banner publicitario aquí" role="banner")
                .row.mt-3
                    .col-sm.agenda
                        h3 Agenda - Próximos eventos
                        ul.list-group
                            if (eventos.length > 0)
                                each evento in eventos
                                    li.list-group-item.bg-light #[a(href=`post/${evento.id}?titulo=${evento.titulo}` class=( evento.clase ? evento.clase : '' )) #{evento.titulo.substr(0,20)}... #[span.float-right.text-info #{evento.fecha_evento}]]
                            else
                                li.list-group-item No hay eventos
                .row.mt-3#categorias
                    .col-sm(role="list")
                        h3 Categorías
                        ul.list-group
                            li.list-group-item.bg-light #[a(href="/") TODAS]
                            li.list-group-item.bg-light(class=( filtro === "deporte" ? 'active' : '') ) #[a(href="/?f=deporte") DEPORTE]
                            li.list-group-item.bg-light(class=( filtro === 'politica' ? 'active' : '') ) #[a(href="/?f=politica") POLÍTICA]
                            li.list-group-item.bg-light(class=( filtro === 'cultura' ? 'active' : '') ) #[a(href="/?f=cultura") CULTURA]
                            li.list-group-item.bg-light(class=( filtro === 'ciudadania' ? 'active' : '') ) #[a(href="/?f=ciudadania") CIUDADANÍA]
                .row.mt-3
                    .col-sm(role="contentinfo")
                        h3 ¿Qué tiempo hace hoy?
                        .elTiempo.shadow
                            .icono-tiempo
                                img.animate-src(src='/img/icons/weather.svg', alt="El tiempo en deifontes")
                            .resumen-tiempo
                                .row.justify-content-center.p-2
                                    .tempActual
                                    .parametros
                                        span.texto
                                    .parametros.mt-1
                                        .temps
                                            strong#maxima
                                            span#minima
                        
                        